[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "naryn"]
	path = naryn
	url = https://github.com/tanaylab/naryn
[submodule "slanter"]
	path = slanter
	url = https://github.com/tanaylab/slanter
[submodule "tglkmeans"]
	path = tglkmeans
	url = https://github.com/tanaylab/tglkmeans
[submodule "tgstat"]
	path = tgstat
	url = https://github.com/tanaylab/tgstat
